{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estadio.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta name="autor" content="Raúl Ariel Sánchez Macías">
    <meta name="description" content="Información resumida sobre Estadio BBVA del Club de Fútbol Monterrey">
    <title>Rayados - Estadio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index.html' %}">Inicio</a></li>
                <li><a href="{% url 'jugadores.html' %}">Jugadores</a></li>
                <li><a href="{% url 'estadio.html' %}">Estadio</a></li>
                <li><a href="{% url 'titulos.html' %}">Títulos</a></li>
                <li><a href="{% url 'contacto.html' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="menu-aside-container">
        <main>
            <div class="div_main">
                <h1>El Estadio <abbr title="Banco Bilbao Vizcaya Argentaria">BBVA</abbr></h1>
                <figure>
                    <video controls src="{% static 'complements/interior.mp4' %}"></video>
                    <figcaption><b><i>Vista desde el interior del estadio</i></b></figcaption>
                </figure>
                <figure>
                    <img src="https://rendersolutions.com/mt-content/uploads/2016/01/femsa_aerea2nocturna0000.jpg" alt="Estadio plano en picada">
                    <figcaption><b><i>Estadio BBVA de noche, en picada</i></b></figcaption>
                </figure>
                <p>El Estadio BBVA, también conocido como "El Gigante de Acero", está ubicado en Guadalupe, Nuevo León, México, en la zona metropolitana de Monterrey. Es el hogar del Club de Fútbol Monterrey.</p>
                <h2>Historia</h2>
                <ol>
                    <li><span>Planeación y Construcción:</span> La idea de construir un nuevo estadio para el Club de Fútbol Monterrey surgió en la década de 2000, debido a la necesidad de un estadio más moderno y con mayor capacidad que su anterior casa, el Estadio Tecnológico. La construcción del Estadio BBVA comenzó en 2011 y fue desarrollado por la firma de arquitectura Populous, reconocida por diseñar varios estadios a nivel mundial.</li>
                    <li><span>Inauguración:</span> El estadio fue inaugurado el 2 de agosto de 2015 con un partido amistoso entre el Monterrey y el Benfica de Portugal. El estadio tiene una capacidad de aproximadamente 53,500 espectadores, lo que lo convierte en uno de los estadios más grandes y modernos de México.
                    </li>
                </ol>
                <h2>Una visita al Estadio</h2>
                <iframe src="https://www.youtube.com/embed/Nur1s8w91YE?si=WcX-HO5rGBxwGdnb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <dl>
                    <dt>Características Destacadas</dt>
                    <dd>El estadio cuenta con tecnología de punta, instalaciones modernas y fue diseñado para cumplir con los estándares internacionales de FIFA. Su diseño es único, con una estructura en forma de herradura y una espectacular vista de la Sierra Madre Oriental desde el interior. Además, es el primer estadio en México en ser certificado como "Estadio Verde", por su diseño y construcción sustentables.</dd>
                    <dt>Eventos Relevantes</dt>
                    <dd>Además de ser la sede de los partidos del Club de Fútbol Monterrey, el Estadio BBVA ha albergado numerosos eventos importantes, incluyendo finales de la Liga MX, conciertos, y eventos internacionales. También está programado para ser una de las sedes de la Copa Mundial de la FIFA 2026, que se celebrará en conjunto entre México, Estados Unidos y Canadá.</dd>
                </dl>
                <strong>
                    <mark>
                        El Estadio BBVA no solo es un ícono deportivo en Monterrey, sino también un referente arquitectónico en México.
                    </mark>
                </strong>
            </div>

        </main>
        <aside>
            <div class="direccion">
                <h2>Dirección</h2>
                <a href="https://www.google.com.mx/maps/place/Estadio+BBVA/@25.6691181,-100.2470751,17z/data=!3m1!4b1!4m6!3m5!1s0x8662c019f7a4c8d7:0xbf478dc0c2c5944d!8m2!3d25.6691181!4d-100.2445002!16s%2Fm%2F03c9trf?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    Av. Pablo Livas 2011, La Pastora, 67140 Guadalupe, N.L. <sup>[maps]</sup>
                </a>
            </div>
             
            <div class="comprar_boletos">
                <strong>¡COMPRA TUS BOLETOS!</strong>
                <a href="https://rayados.com/es/noticias/16116/boletos-digitales" target="_blank">
                    <img src="{% static 'img/ticket.png' %}" alt="Ticket con link">
                </a>
            </div>
        </aside>
    </div>

    <footer>
        <hr>
        <address>
            <small>Copyright &copy; 2024 &nbsp; <abbr title="Raúl Ariel Sánchez Macías"> RASM</abbr>. Todos los derechos reservados.</small>
        </address>
    </footer>

</body>
</html>