{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="autor" content="Raúl Ariel Sánchez Macías">
    <meta name="description" content="Información resumida del Club de Fútbol Monterrey (Rayados del Monterrey)">
    <title>Rayados</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index.html' %}">Inicio</a></li>
                <li><a href="{% url 'jugadores.html' %}">Jugadores</a></li>
                <li><a href="{% url 'estadio.html' %}">Estadio</a></li>
                <li><a href="{% url 'titulos.html' %}">Títulos</a></li>
                <li><a href="{% url 'contacto.html' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="menu-aside-container">
        <main>
            <img src="{% static 'img/escudo.png' %}" alt="Escudo de Rayados">
            <blockquote cite="https://rayados.com/es/monterrey/valores-rayados">
                <em>"Nos esforzamos por alcanzar la excelencia en nuestro quehacer deportivo e institucional. Ser símbolo de pasión, entrega, competitividad y actitud ganadora es lo que impulsa al Club."</em>
            </blockquote>
            <section class="formulario">
                <h2>¡Escribe tus datos!</h2>
                <form action="" id="idform">
                    <label for="nombre">Nombre</label>
                    <br>
                    <input type="text" name="nombre" id="nombre">
                    <br><br>
                    <label for="edad">Edad</label>
                    <br>
                    <input type="number" name="edad" id="edad">
                    <br><br>
                    <label for="correo">Correo</label>
                    <br>
                    <input type="mail" name="correo" id="correo">
                    <br><br>
                    <div id="divcolor">
                        <label for="color">Color de la sombra</label>
                        <input type="color" name="color" id="color">
                    </div>
                </form>
                <h2>Escuchar Himno</h2>
                <audio controls src="{% static 'complements/himno.mp3' %}"></audio>
            </section>
        </main>
    
        <aside>
        </aside>
    </div>

    <footer>
        <hr>
        <address>
            <small>Copyright &copy; 2024 &nbsp; <abbr title="Raúl Ariel Sánchez Macías"> RASM</abbr>. Todos los derechos reservados.</small>
        </address>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>