{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/jugadores.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="autor" content="Raúl Ariel Sánchez Macías">
    <meta name="description" content="Información resumida de los jugadores del Club de Fútbol Monterrey">
    <title>Rayados - Jugadores</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index.html' %}">Inicio</a></li>
                <li><a href="{% url 'jugadores.html' %}">Jugadores</a></li>
                <li><a href="{% url 'estadio.html' %}">Estadio</a></li>
                <li><a href="{% url 'titulos.html' %}">Títulos</a></li>
                <li><a href="{% url 'contacto.html' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="menu-aside-container">
        <main>
            <table border="1">
                <caption>
                    Jugadores en la Plantilla Actual del <abbr title="Club de Fútbol Monterrey">CFM</abbr>
                </caption>
                <colgroup>
                    <col class="foto">
                    <col class="nombre">
                    <col class="posicion">
                    <col class="numero">
                    <col class="fecha">
                    <col class="lugar">
                    <col class="aportaciones">
                </colgroup>
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Posición</th>
                        <th>Número</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Lugar de Nacimiento</th>
                        <th>Aportaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/179_DEsteban_Andrada.png" alt="Foto de Esteban Andrada">
                        </td>
                        <td>Esteban Maximiliano Andrada</td>
                        <td>Portero</td>
                        <td>#1</td>
                        <td>26 de Enero de 1991</td>
                        <td>San Martín, Mendoza, Argentina</td>
                        <td>Llegó a Rayados en el Apertura 2021, donde ha conseguido el Campeonato de la CONCACAF y busca seguir acumulando logros.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/137_DLuis_Cardenas.png" alt="Foto de Luis Cárdenas">
                        </td>
                        <td>Luis Alberto Cárdenas López</td>
                        <td>Portero</td>
                        <td>#22</td>
                        <td>15 de Septiembre de 1993</td>
                        <td>Los Mochis, Sinaloa</td>
                        <td>Fue pieza fundamental en la tanda de penales del Mundial de Clubes Catar 2019, donde Rayados obtuvo el tercer lugar.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/188_DCesar_Ramos.png" alt="Foto de César Ramos">
                        </td>
                        <td>César Rafael Ramos Becerra</td>
                        <td>Portero</td>
                        <td>#24</td>
                        <td>14 de Junio de 2000</td>
                        <td>San Nicolás, Nuevo León, México</td>
                        <td>En el Clausura 2021, obtuvo el título de la categoría Sub-20.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/253_DGerardo_Arteaga.png" alt="Foto de Gerardo Arteaga">
                        </td>
                        <td>Gerardo Daniel Arteaga Zamora</td>
                        <td>Defensa</td>
                        <td>#3</td>
                        <td>07 de Septiembre de 1998</td>
                        <td>Zapopan, Jalisco</td>
                        <td>A la postre, Gerardo fue convocado para formar parte del plantel que disputó la Copa del Mundo Catar 2022.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/230_DVictor_Guzman.png" alt="Foto de Víctor Guzmán">
                        </td>
                        <td>Víctor Andrés Guzmán Olmedo</td>
                        <td>Defensa</td>
                        <td>#4</td>
                        <td>07 de Marzo de 2002</td>
                        <td>Tijuana, Baja California</td>
                        <td>Llegó a Rayados para el Clausura 2023 y es considerado uno de los defensas con mayor proyección en el futbol mexicano.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/87_DStefan_Medina.png" alt="Foto de Stefan Medina">
                        </td>
                        <td>John Stefan Medina Ramírez</td>
                        <td>Defensa</td>
                        <td>#33</td>
                        <td>14 de Junio de 1992</td>
                        <td>Antoquia, Colombia</td>
                        <td>Con el Monterrey, ha logrado campeonatos de la Liga MX, Copa MX y Liga de Campeones de CONCACAF.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/243_DSergio_Canales.png" alt="Foto de Sergio Canales">
                        </td>
                        <td>Sergio Canalez Madrazo</td>
                        <td>Mediocampista</td>
                        <td>#10</td>
                        <td>16 de Febrero de 1991</td>
                        <td>Santander, Cantabria, España</td>
                        <td>Sergio llega al Club para aportar su talento en busca de los más altos objetivos de la Institución.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/227_DJordi_Cortizo.png" alt="Foto de Jordi Cortizo">
                        </td>
                        <td>Jordi Cortizo de la Piedra</td>
                        <td>Mediocampista</td>
                        <td>#19</td>
                        <td>30 de Junio de 1996</td>
                        <td>Santiago de Querétaro, México</td>
                        <td>Arribó al Monterrey para el Clausura 2023, donde busca aportar su talento.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/222_DGerman_Berterame.png" alt="Foto de Germán Bertarame">
                        </td>
                        <td>Germán Berterame</td>
                        <td>Delantero</td>
                        <td>#7</td>
                        <td>13 de Noviembre de 1998</td>
                        <td>Córdoba, Argentina</td>
                        <td>Con su visión de juego y movilidad en el área, es un revulsivo y creador de juego.</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://storage.rayados.com/jugadores/248_DBrandon_Vazquez.png" alt="Foto de Brandon Vázquez">
                        </td>
                        <td>Brandon Vazquez Toledo</td>
                        <td>Delantero</td>
                        <td>#9</td>
                        <td>14 de Octubre de 1998</td>
                        <td>San Diego, California</td>
                        <td>En 2023, Brandon fue llamado a la Selección Absoluta de Estados Unidos, con la que llegó hasta la Semifinal de la Copa Oro y se convirtió en el tercer mejor anotador del torneo internacional.</td>
                    </tr>
                    

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </main>
    
        <aside>
        </aside>
    </div>

    <footer>
        <hr>
        <address>
            <small>Copyright &copy; 2024 &nbsp; <abbr title="Raúl Ariel Sánchez Macías"> RASM</abbr>. Todos los derechos reservados.</small>
        </address>
    </footer>

</body>
</html>