{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/titulos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="autor" content="Raúl Ariel Sánchez Macías">
    <meta name="description" content="Información resumida sobre los títulos del Club de Fútbol Monterrey">
    <title>Rayados - Títulos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index.html' %}">Inicio</a></li>
                <li><a href="{% url 'jugadores.html' %}">Jugadores</a></li>
                <li><a href="{% url 'estadio.html' %}">Estadio</a></li>
                <li><a href="{% url 'titulos.html' %}">Títulos</a></li>
                <li><a href="{% url 'contacto.html' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="menu-aside-container">
        <main>
            <table border="1">
                <caption>
                    Títulos del Club de Fútbol Monterrey
                </caption>
                <colgroup>
                    <col class="Torneo">
                    <col class="Rival">
                    <col class="Resultado">
                </colgroup>
                <thead>
                    <tr>
                        <th>Torneo</th>
                        <th>Rival</th>
                        <th>Resultado Global</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="competicion" colspan="5">Primera División de México</td>
                    </tr>
                    <tr>
                        <td>Apertura 2019</td>
                        <td>América</td>
                        <td>4 - 2</td>
                    </tr>
                    <tr>
                        <td>Apertura 2010</td>
                        <td>Santos Laguna</td>
                        <td>5 - 3</td>
                    </tr>
                    <tr>
                        <td>Apertura 2009</td>
                        <td>Cruz Azul</td>
                        <td>6 - 4</td>
                    </tr>
                    <tr>
                        <td>Clausura 2003</td>
                        <td>Morelia</td>
                        <td>3 - 1</td>
                    </tr>
                    <tr>
                        <td>México 86</td>
                        <td>Tampico Madero</td>
                        <td>3 - 2</td>
                    </tr>

                    <tr>
                        <td class="competicion" colspan="5">Copa MX</td>
                    </tr>

                    <tr>
                        <td>2019 – 20</td>
                        <td>Xolos de Tijuana</td>
                        <td>2-1</td>
                    </tr>
                    <tr>
                        <td>Apertura 2017</td>
                        <td>Pachuca</td>
                        <td>1 - 0</td>
                    </tr>
                    <tr>
                        <td>1991 – 92</td>
                        <td>Cobras</td>
                        <td>4 - 2</td>
                    </tr>
                    <tr>
                        <td class="competicion" colspan="5">Liga de Campeones de la Concacaf</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>América</td>
                        <td>1 - 0</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>Tigres</td>
                        <td>2 - 1</td>
                    </tr>
                    <tr>
                        <td>2012 – 13</td>
                        <td>Santos Laguna</td>
                        <td>4 - 2</td>
                    </tr>
                    <tr>
                        <td>2011 – 12</td>
                        <td>Santos Laguna</td>
                        <td>3 - 2</td>
                    </tr>
                    <tr>
                        <td>2010 – 11</td>
                        <td>Real Salt Lake</td>
                        <td>3 - 2</td>
                    </tr>
                </tbody>
            </table>
        </main>
    
        <aside>
        </aside>
    </div>

    <footer>
        <hr>
        <address>
            <small>Copyright &copy; 2024 &nbsp; <abbr title="Raúl Ariel Sánchez Macías"> RASM</abbr>. Todos los derechos reservados.</small>
        </address>
    </footer>

</body>
</html>